address.container.my-3#address
	.row
		.col-sm-7.col-md-6.mb-sm-2.mb-md-0.d-flex.justify-content-md-center.mx-sm-auto
			.card
				.card-block
					strong.card-title Производство в Санкт-Петербурге<br>
					tel.card-text (812) 424-36-38 /доб.2195/
		.col-sm-7.col-md-6.mt-sm-2.mt-md-0.d-flex.justify-content-md-center.mx-sm-auto
			.card
				.card-block
					strong.card-title Представительство в Москве<br>
					tel.card-text (499) 649-14-14 /доб.4909/