section.pb-5
	.container-fluid.red.text-center
		.row
			.col(style=style='height: 100vh')
				#logo.h-100.d-flex.flex-column.justify-content-center.align-items-center.text-white
					img.mx-auto.img-fluid(src='img/logo.jpg', alt='shtech' style='width: 45rem;')
					.col-.col-sm-.col-md-.col-lg-.col-xl-
						h1.no-gutters Высокотехнологичные решения.<br>На шаг опережая время!