section.text-center.my-5.py-5#text1
	.container
		.row
			.col-.col-sm-.col-md-.col-lg-.col-xl-
				h2 Современное производство
				.my-5.h3.font-weight-light(style='line-height: 1.45')
					p «S&H Technology» разрабатывает и производит специальные лакокрасочные материалы и антикоррозийные покрытия, в том числе и УФ- отверждаемые, предназначенные для комплексной защиты изделий из металла, минеральных поверхностей, древесины, стекла и композитных материалов.
section.text-center.my-5.py-5.grey#text2
	.container
		.row
			.col-.col-sm-.col-md-.col-lg-.col-xl-
				h2 Мировые стандарты
				.my-5.h3.font-weight-light(style='line-height: 1.45')
					p Стандарт компании заключается во внедрении технических решений со всеми необходимыми опытно-промышленными испытаниями и дальнейшим техническим сопровождением. Технологи производства и ресурсы компании, в том числе научный потенциал, позволяют дорабатывать показатели материалов под необходимые требования производств партнеров на уровне мировых стандартов.
					|
					p.mt-2 Обращайтесь, для нас нет нерешаемых задач!
section.text-center.my-5.py-5#text3
	.container
		.row
			.col-.col-sm-.col-md-.col-lg-.col-xl-
				h2 Решения от S&H Technology
				.my-5.h3.font-weight-light(style='line-height: 1.45')
					.text-left
						p Мы предлагаем защитные покрытия, разработанные и применяемые в строительстве для промышленного нанесения:
						ul
							li Защитные покрытия для металлоконструкций 
							li Решение для окраски фибролитовых плит
							li Системы покрытий для хризотил-цементных и фиброцементных вентилируемых панелей и сайдинга
							li Промышленные масло-воски для фасадных и террасных досок из лиственницы
							li Специальные составы для защиты клееного бруса из шпона LVL (Laminated Veneer Lumber) и OSB
							li Комплексные интерьерные решения
							li УФ-отверждаемые покрытия для стекла
							li Инновационные технологии и решения для электронной, металургической и других отраслей промышленности