nav#navbar.nav.flex-column.justify-content-space-around.d-sm-none.d-md-flex(role="tablist")
	a.nav-link.active(href="#logo") &bull;
	a.nav-link(href="#text1") &bull;
	a.nav-link(href="#text2") &bull;
	a.nav-link(href="#text3") &bull;
	a.nav-link(href="#form") &bull;
	//- a.nav-link(href="#address") &#10026;